.forms-toolbar {
    background-color: #0B5345;
    color: #FBFCFC;
    
}

.sidebar-container {
    margin-top: 4.1%;
    width: 10%;
    background-color: #16A085;
    border-right: 2px solid #FBFCFC;
  }
  
#new-form-button {
    border-radius: 15px;
    margin-top: 40%;
    margin-left: 10%;
    align-self: center;
    text-align: center;
    background-color: #FBFCFC;
    color: #16A085;
    font-size: medium;
    width: 80%;
    text-align: center;
} 
