<div fxLayoutAlign="center center" fxFlexFill>

  <mat-card fxFlex="25" class="login-card">
      <mat-toolbar id="login-toolbar">Internetworks Forms</mat-toolbar>

      <form class="login-form" fxLayoutAlign="strech" fxLayout="column">
          <mat-form-field class="input-form" appearance="legacy">
            <mat-label class="input-default-text">Username</mat-label>
            <input matInput type="text" (keyup)="onKeyUsername($event)" class="input-field">
          </mat-form-field>

          <mat-form-field class="input-form" appearance="legacy">
              <mat-label class="input-default-text">Password</mat-label>
              <input matInput type="password" (keyup)="onKeyPassword($event)" class="input-field">
            </mat-form-field>

          <button mat-raised-button type="submit" (click)="chekCredentials()" id="send-button">Login</button>

      </form>
  </mat-card>

</div>
